.header {
    position: fixed;
    top:40px;
    left: 0;
    width: 100%;
    z-index: 999;
}




.header .container .inner-main {
    box-shadow :0px 0px 15px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    border-radius: 45px;
    background: #fff;
}

.header .inner-logo img {
    height: 30px;
    width: auto;

}

.header .inner-main .inner-menu ul {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
    
}

.header .inner-menu li {
    
    margin-left: 25px;
}


.header .inner-menu ul li a {
    color: var(--color-text);
    font-size: 14px;
    font-weight: 500;
}

.header .inner-menu ul li a:hover {
    color: var(--color-two);
    list-style: none;
    text-decoration: none;
}

.header .inner-menu ul li a.active {
    color: var(--color-two);
    list-style: none;
}

.header .inner-icon-mobi {
    display: none;
}

@media (max-width: 991.98px) {
    .header .inner-menu {
        display: none;
    }
    .header .inner-icon-mobi  {
        display: block;
        
    }

    .header .inner-icon-mobi a {
        color: var(--color-text);
    }
}


/* SECTION-ONE */
.section-one {
    background-image: url(../images/banner-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center-bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one .inner-wrap {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.section-one .inner-title {
    font-size: 32px;
    color: #fff;
    margin-bottom: 10px;
}

.section-one .inner-desc {
    color: #fff;
    margin-bottom: 20px;
}

@media (max-width: 767.98px) {
    .section-one .inner-title {
        font-size: 20px;
    }

    .section-one .inner-desc {
        font-size: 13px;
    }
}

/* END SECTION-TWO */

.section-two {
    margin-top: -220px;
}

.section-two .inner-box {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
}

.section-two .inner-box .inner-icon {
    background: var(--color-one);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.section-two .inner-box:hover .inner-icon {
    background: var(--color-two);
}

.section-two .inner-box .inner-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-two .inner-box .inner-title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.section-two .inner-box .inner-desc {
    font-size: 13px;
    margin-bottom: 0;
}


@media (max-width: 991.98px) {
    .section-two {
        margin-top:0;
    }
}


/* SECTION TWO END  */

.section-three {
    margin-top: 80px;
    margin-bottom: 80px;
}

.section-three .img-box {
    text-align: center;
}

.section-three .img-box img {
    max-width: 100%;
    height: auto;
}

.section-three .inner-border-bottom {
    border-bottom: 1px solid #ddd;
    padding-bottom: 80px;
    margin-bottom: 80px;
}

@media (max-width: 991.98px) {
    .section-three .inner-image {
        margin-bottom: 30px;
    }
}

/* END SECTION THREE  */

/* SECTION FOUR  */
.section-four {
    background-image: url(/assets/images/fun-facts-bg.png);
    padding: 100px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-four .inner-box {
    position: relative;
}

.section-four .inner-box::before {
    content: " ";
    display: block;
    width: 100px;
    height: 20px;
    background-image: url(/assets/images/circle-dec.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top:45%;
}

.section-four .inner-box::before:nth-child(3) {
    background-image: none;
}

.section-four .inner-box .inner-text {
    color: #fff;
    transform: translateY(0);
    transition: all 0.3s ease 0s;

}

.section-four .inner-box .inner-number {
    font-size: 32px;
    font-weight: 700;
}


@media (max-width: 991.98px) {
    .section-four .inner-box::before {
        display: none;
    }

    .section-four .inner-box {
        text-align: center;
        margin: 10px 0;
    }
}


/* END SECTION FOUR  */
/* BLOG-ENTRIES */
.blog-entry{
    background-color: var(--color-three);
    padding: 80px;
}

.blog-entry .keepInTouch {
    font-size: 18px;
}

.blog-entry .keepText1 {
    margin-top: 30px;
    color: var(--color-text);
}
.blog-entry .keepText2 {
    margin-top: 30px;
    color: var(--color-text);
}

.blog-entry .inner-form input, .blog-entry .inner-form textarea {
    border-radius: 50px;
    width: 100%;
    border: 1px;
    padding: 10px;
    border-color: #ddd;
    outline: 0;

}
.blog-entry .inner-form input {
    margin-bottom: 20px;
    height: 50px;
}

.blog-entry .inner-form textarea {
    height: 150px;
}

.blog-entry .inner-form input:hover, .blog-entry .inner-form textarea:hover {
    border-color: #ddd;
    outline: 0;
}

.blog-entry .inner-form .button {
    border: none;
}

@media (max-width: 767.98px) {
    .blog-entries .inner-image {
        max-width: 370px;
        margin: 0 auto;
    }
}


/* END BLOG-ENTRIES */


